In [13]:
from importlib import reload
from astropy import units as u
from astropy import constants as const

import pandas as pd
import pandas as pandas
import numpy as np
import matplotlib.pyplot as plt

from matplotlib import ticker
import matplotlib.colors
import matplotlib.ticker as mticker

from scipy.interpolate import UnivariateSpline

from src import astro530

In [18]:
astro530 = reload(astro530)

In [6]:
k_cont = astro530.k_cont
line_opacity_Na = astro530.line_opacity_Na

<function src.astro530.line_opacity_Na(nu, T=<Quantity 5000. K>, Pg=<Quantity 100. Ba>, uturb=<Quantity 0. km / s>, rho=<Quantity 10. g / cm3>, nH=<Quantity 1000000. 1 / cm3>, ne=<Quantity 1000000. 1 / cm3>, **kwargs)>

In [3]:
(6.433e13/u.cm**3*const.k_B*6420*u.K).cgs

In [19]:
def tau_nu(t500,nu):
    """
    Calculates optical depth given τ500 and ν in Hz
    """

In [7]:
try: 
    raise ValueError("Break")
except:
    print("work")

work

In [20]:
init_VAL = astro530.init_VAL

In [30]:
def t500_parameters(t500):
    try: 
        val_df
    except:
        val_df = init_VAL()
    t500_arr = val_df.tau_500.to_numpy()
    T_arr = val_df["T"].to_numpy()
    Pg_arr = val_df.Ptotal.to_numpy()*val_df["Pgas/Ptotal"].to_numpy()
    uturb_arr = val_df["V"].to_numpy()
    nH_arr = val_df["n_H"].to_numpy()
    ne_arr = val_df["n_e"].to_numpy()
    rho_arr = val_df["rho"].to_numpy()
    
    T = UnivariateSpline(t500_arr,T_arr,s=0,k=2)(t500)*u.K
    Pg = UnivariateSpline(t500_arr,Pg_arr,s=0,k=2)(t500)*u.Ba
    uturb = UnivariateSpline(t500_arr,uturb_arr,s=0,k=2)(t500)*u.km/u.s
    nH = UnivariateSpline(t500_arr,nH_arr,s=0,k=2)(t500)/u.cm**3
    ne = UnivariateSpline(t500_arr,ne_arr,s=0,k=2)(t500)/u.cm**3
    rho = UnivariateSpline(t500_arr,rho_arr,s=0,k=2)(t500)*u.g/u.cm**3
    print(Pg)
    df = pd.DataFrame()
    df["tau_500"] = t500
    df["Pgas"] = Pg
    df["V"] = uturb
    df["n_H"] = nH
    df["n_e"] = ne
    df["rho"] = rho
    
    return df

In [31]:
t500_parameters(0.5)

# h     m     tau_500     T     V     n_H     n_e     Ptotal  Pgas/Ptotal  rho

# (km) (g cm )            (K)  (km/s) (cm^-3) (cm^-3) (dyn cm^-2)          (g cm^-3)

85752.18461511648 Ba

Empty DataFrame
Columns: [tau_500, Pgas, V, n_H, n_e, rho]
Index: []